@charset "UTF-8";

:root {
    --fonte1: 'Passion One', 'cursive';
    --fonte2: Verdana, 'Geneva', Tahoma, sans-serif;
    --fonte3: 'Sriracha', 'cursive';
}

html, body {
    height: 100vh;
    background-color: lightgrey;
    font-family: var(--fonte2);
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte1);
    font-variant: small-caps;
    font-size: 10vw;
    font-weight: normal;
    padding-top: 50px;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
}

a:hover {
    background-color: white;
    color: black;
    transition-duration: 0.7s;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section p {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em;
    margin-bottom: 2em;
}

section.normal {
    background-color: white;
}

section.imagem {
    box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.562);
}

section#img01 {
    background: url('../imagens/background001.jpg') right center/cover no-repeat fixed;
}

section#img02 {
    background: url('../imagens/background002.jpg') center center/cover no-repeat fixed;
}

section.imagem p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.555);
    color: white;
    padding: 5px;
    text-shadow: 1px 1px 1px black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
